<table id="players" border="1">
  <thead>
    <tr>
      <th>Etunimi</th>
      <th>Sukunimi</th>
      <th>Pelinumero</th>
    </tr>
  </thead>
  <tbody>
    {{#each players}}
      <tr>
        <td>{{Etunimi}}</td>
        <td>{{Sukunimi}}</td>
        <td>{{Pelinumero}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>